@media screen and (max-width: 600px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }
  #main-body{
     background-color: #35D6ED;
     /* margin: 20px; */
     font-family: Roboto;
  }
   #nav li{
     display:inline-block;
   }
   .navbar {
     background-color: white;
     display: flexbox;
   }
   .navbar a {
     font-weight: .2em; 
     float: right;
     color: black;
     text-align: center;
     padding: 10px;
     text-decoration: none;
     font-size: 20px;
   }
   .navbar a:hover {
     font-size: larger;
     font-weight: bold;
     color: black;
     background-color: #35D6ED;
   }
   #span1{
       color: #007AF3;
   }
   .container{
       display: flex;
       place-content: space-between;
   }
  ul{
     list-style-type: none;
     margin: 0;
     padding: 0;
  }
  ol{
     list-style-type: none;
     margin: 0;
     padding: 0;
  }
  section{
      padding:50px,50px;
  }
  .hero{
      text-align: center;
      /* padding-left: 280px; */
  }
  .heading{
      font-weight: bold;
      font-size: 2.3em;
      letter-spacing: 3px;
      color: rgb(65, 70, 70);
  }
 
  #heading1{
     margin-top: 2em;
  }
  #span2{
    font-weight: bold;
  }
  #parax{
      color: #007AF3;
      letter-spacing: 1.2px;
      font-size: 1.2em;
      font-weight: bold;
  }
 #paray{
     letter-spacing: 1.2px;
     font-size: 1.2em;
 }
 #ghana{
     float: right;
     padding-top: 150px; 
     overflow: auto;
     }
 #baby{
     height: 280px;
     width: 350px;
 }
 .btnlike{
     background-color: #007AF3;
     padding: 13px;
     color: white;
     text-decoration: none;
     width: 12 0px;
     font-size: 15px;
     font-weight: bold;
     display: inline-block;
     margin-bottom: 10px;
     border-radius: 5px;
 }
 .backhomebtn {
     background-color:rgb(145, 142, 142);
     padding: 12px;
     color: white;
     text-decoration: none;
     width: 12 0px;
     font-size: 15px;
     font-weight: bold;
     margin-top: 25px;
     margin-right: 212px;
     float: right;
     border-radius: 5px;
 }
 .procedure{
     background-color: black;
     color: white;
     margin-top: 30px;
 
 }
 #headinglist{
     font-style: italic,;
 }
 .procedure-list{
     margin: 20px;
     padding-left: 30px;
     margin-top: 30px;
 }
 .list{
     margin-bottom: 20px;
     margin-left: 30px;
     position: relative;
 }
 .list:before {
      content: "";
      left: -30px;
      position: absolute;
      width: 20px;
      height: 20px;
      background-image: url("./images/bulletmark5.png");
      background-size: contain;
      margin-right: 20px;
      float: left;    
 }
 .name-section{
     background: #00ABF0;
     color: white;
 
 }
 .akan-names{
     background: #0065ca;
     margin: 80px 30px;
     text-align: center;
     padding: 20px 20px;
     width: 80%;
     border-radius: 15px;
 
 }
 .girl{
     width: 90px;
     height: 90px;
     border: 5px solid#0065ca;
     border-radius: 50%;
     margin-top: -4.5em;
 }
 h4{
     font-size: large;
 }
 .contact-section{
     margin-top: 10px 20px;
     float: left;
 }
 label{
     display: block;
     margin-bottom: 8px;
 }
 input,textarea{
     width: 80%;
     padding: 5px;
     margin-bottom: 10px;
     border-radius:5px;
     border: 1px solid rgb(177, 241, 250);
     box-sizing:border-box;
     
 }
 .send-message {
     background-color:#007AF3 ;
     color: white;
     font-weight: bold;
     font-size:15px ;
     border: none;
     margin-bottom: 10px;
 } 
 html {
     scroll-behavior: smooth;
 }
 
 .overlay{
   background-color: rgb(0,0,0,0.5);
   margin-left: 15%;
   margin-right: 16%;
   opacity: 0.9;
   border-radius: 10px;
   margin-top: 30px;
 }
 .heading-form{
     text-align: center;
     color: rgb(97, 95, 95);
     letter-spacing: 1px;
 }
 label{
     display: block;
     width: 100%;
    
 }
 .form{
   margin-bottom: 20px;
   padding-bottom: 20px;
   padding-top: 20px;
   padding-left: 35px;
 }
 .form-group{
   color: rgb(255, 255, 255);
   font-weight: 600;
   font-size: 18px;
   padding-left: 10px;
 }
 .form-check-label{
   color: rgb(255, 255, 255);
 }
 input[type="radio"] {
   -webkit-transform: scale(1.5);
   transform: scale(1.5);
   width: 20px; 
 }
 @media only screen and (max-width: 600px){
   .overlay{
     margin-left: 1%;
     margin-right: 2%;
   }
 }
 @media only screen and (max-width: 800px){
   .overlay{
     margin-left: 1%;
     margin-right: 1%;
   } 
 }
 #copyright{
   margin-top: 340px;
   margin-bottom: 20px;
   text-align: center;
   background-color: grey;
   padding: 10px;
   width: 520px;
 } 
 #submitbtn{
    background-color: #007AF3;
    border: 0;
    padding: 8px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 15px;
  }  
 