@media screen and (max-width: 600px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }
  #main-body{
     background-color: #35D6ED;
     /* margin: 20px; */
     font-family: Roboto;
  }
  #nav li{
    display:inline-block;
  }
  .navbar {
    background-color: white;
    display: flexbox;
  }
  .navbar a {
    font-weight: .2em; 
    float: right;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
  }
  .navbar a:hover {
    font-size: larger;
    font-weight: bold;
    color: black;
    background-color: #35D6ED;
  }
  span{
    color: #007AF3;
}
.container{
    display: flex;
    place-content: space-between;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ol{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
section{
   padding:50px,50px;
}
.hero{
    text-align: center;
    /* padding-left: 280px; */
}
.heading{
    font-weight: bold;
    font-size: 2.3em;
    letter-spacing: 3px;
    color: rgb(65, 70, 70);
}

#heading1{
   margin-top: 2em;
}
#parax{
    color: #007AF3;
    letter-spacing: 1.2px;
    font-size: 1.2em;
}
#paray{
   letter-spacing: 1.2px;
   font-size: 1.2em;
}
#ghana{
   float: right;
   padding-top: 150px; 
   overflow: auto;
   }
#baby{
   height: 280px;
   width: 350px;
}
.btnlike{
   background-color: #007AF3;
   padding: 10px;
   color: white;
   text-decoration: none;
   width: 12 0px;
   font-size: 15px;
   font-weight: bold;
   display: inline-block;
   margin-top: 10px;
   margin-bottom: 10px;
}
.procedure{
    background-color: black;
    color: white;
    margin-top: 30px;

}
#headinglist{
    font-style: italic,;
}
.procedure-list{
    margin: 20px;
    padding-left: 30px;
    margin-top: 30px;
}
.list{
    margin-bottom: 20px;
    margin-left: 30px;
    position: relative;
}
.list:before {
     content: "";
     left: -30px;
     position: absolute;
     width: 20px;
     height: 20px;
     background-image: url("./images/bulletmark5.png");
     background-size: contain;
     margin-right: 20px;
     float: left;    
}
.name-section{
    background: #00ABF0;
    color: white;

}
.akan-names{
    background: #0065ca;
    margin: 80px 30px;
    text-align: center;
    padding: 20px 20px;
    width: 80%;
    border-radius: 15px;

}
.girl{
    width: 90px;
    height: 90px;
    border: 5px solid#0065ca;
    border-radius: 50%;
    margin-top: -4.5em;
}
h4{
    font-size: large;
}












